@using StreamHub.Models
@code {
    [Parameter]
    public required EngineViewModel Engine { get; set; }
}

<div class="p1 mb-4">
    <button @onclick="TogglePanel" class="flex items-center justify-between w-full p-2 border rounded-lg bg-blue-800 transition duration-200  ease-in-out hover:bg-blue-600">
        <div class="flex items-center">
            <svg class="mr-2 transform transition-transform duration-300 @(_isExpanded ? "rotate-180" : "")" style="width: 1rem; height: 1rem;" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="9 6 15 12 9 18"></polyline>
            </svg>
            <span>Engine Connection Information</span>
        </div>
        <span>@(_isExpanded ? "Collapse" : "Expand")</span>
    </button>

    @if (_isExpanded)
    {
        <div class="p-2 space-y1 rounded-lg">
            <ul>
                <li class="flex justify-between">
                    <span class="font-semibold">IP Address:</span>
                    <span>@(string.IsNullOrEmpty(Engine.IpAddress) ? "N/A" : Engine.IpAddress)</span>
                </li>
                <li class="flex justify-between">
                    <span class="font-semibold">Port:</span>
                    <span>@(Engine.Port.HasValue ? Engine.Port.Value.ToString() : "N/A")</span>
                </li>
                <li class="flex justify-between">
                    <span class="font-semibold">Transport Type:</span>
                    <span>@(string.IsNullOrEmpty(Engine.TransportType) ? "N/A" : Engine.TransportType)</span>
                </li>
                <li class="flex justify-between">
                    <span class="font-semibold">Online Since:</span>
                    <span>@(Engine.OnlineSince.HasValue ? Engine.OnlineSince.Value.ToString("g") : "N/A")</span>
                </li>
                <li class="flex justify-between">
                    <span class="font-semibold">Uptime:</span>
                    <span>@(Engine.Uptime.HasValue ? Engine.Uptime.Value.ToString(@"dd\.hh\:mm\:ss") : "N/A")</span>
                </li>
                <li class="flex justify-between">
                    <span class="font-semibold">EngineId:</span>
                    <span>@Engine.BaseInfo.EngineId</span>
                </li>

                <li class="flex justify-between">
                    <span class="font-semibold">LocalPort:</span>
                    <span>@Engine.LocalPort</span>
                </li>

                <li class="flex justify-between">
                    <span class="font-semibold">Engine InstallDate:</span>
                    <span>@Engine.BaseInfo.InstallDate</span>
                </li>

                <li class="flex justify-between">
                    <span class="font-semibold">Engine StartDate:</span>
                    <span>@Engine.BaseInfo.EngineStartDate.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss")</span>
                </li>
                
            </ul>
        </div>
    }
</div>

@code {
    private bool _isExpanded = false;

    private void TogglePanel()
    {
        _isExpanded = !_isExpanded;
    }
}
