@using StreamHub.Models
@code {
    [Parameter]
    public required EngineViewModel Engine { get; set; }
}

<ExpandablePanel Title="Engine Info">

        <div class="p-2 space-y1 rounded-lg">
            <ul>
                <li class="flex justify-between">
                    <span class="font-semibold">IP Address:</span>
                    <span>@(string.IsNullOrEmpty(Engine.IpAddress) ? "N/A" : Engine.IpAddress)</span>
                </li>
                <li class="flex justify-between">
                    <span class="font-semibold">Port:</span>
                    <span>@(Engine.Port.HasValue ? Engine.Port.Value.ToString() : "N/A")</span>
                </li>
                <li class="flex justify-between">
                    <span class="font-semibold">Transport Type:</span>
                    <span>@(string.IsNullOrEmpty(Engine.TransportType) ? "N/A" : Engine.TransportType)</span>
                </li>
                <li class="flex justify-between">
                    <span class="font-semibold">Online Since:</span>
                    <span>@(Engine.OnlineSince.HasValue ? Engine.OnlineSince.Value.ToString("g") : "N/A")</span>
                </li>
                <li class="flex justify-between">
                    <span class="font-semibold">Uptime:</span>
                    <span>@(Engine.Uptime.HasValue ? Engine.Uptime.Value.ToString(@"dd\.hh\:mm\:ss") : "N/A")</span>
                </li>
                <li class="flex justify-between">
                    <span class="font-semibold">EngineId:</span>
                    <span>@Engine.BaseInfo.EngineId</span>
                </li>

                <li class="flex justify-between">
                    <span class="font-semibold">LocalPort:</span>
                    <span>@Engine.LocalPort</span>
                </li>

                <li class="flex justify-between">
                    <span class="font-semibold">Engine InstallDate:</span>
                    <span>@Engine.BaseInfo.InstallDate</span>
                </li>

                <li class="flex justify-between">
                    <span class="font-semibold">Engine StartDate:</span>
                    <span>@Engine.BaseInfo.EngineStartDate.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss")</span>
                </li>
                
            </ul>
        </div>
    }
</ExpandablePanel>
