@using Common.DTOs
@using Microsoft.AspNetCore.SignalR.Client
@using StreamHub.Models
@using StreamHub.Services
@inject EngineManager EngineManager
@inject WorkerService WorkerService
@inject BlazorSignalRService SignalRService

<div class="worker-card bg-gray-900 rounded-lg border border-gray-700 overflow-hidden shadow-lg mb-3 p-4">
    <!-- Flex container til info og image -->
    <div class="flex justify-between">
        <!-- Worker Info -->
        <div class="flex-1 pr-4 space-y-2">
            <div class="font-bold text-lg flex items-center space-x-2">
                <span>@Worker.Worker.Name</span>
                <!-- Tooltip med ID og Last Update -->
                <span class="relative group">
                    <!-- SVG ikon -->
                    <svg height="17px" width="17px" class="fill-white cursor-pointer" viewBox="0 0 302.967 302.967">
                        <g>
                            <path d="M151.483,302.967C67.956,302.967,0,235.017,0,151.483S67.956,0,151.483,0 s151.483,67.956,151.483,151.483S235.017,302.967,151.483,302.967z M151.483,24.416c-70.066,0-127.067,57.001-127.067,127.067 s57.001,127.067,127.067,127.067s127.067-57.001,127.067-127.067S221.555,24.416,151.483,24.416z"></path>
                            <path d="M116.586,118.12c1.795-4.607,4.297-8.588,7.511-11.961c3.225-3.389,7.114-6.016,11.667-7.898 c4.547-1.904,9.633-2.845,15.262-2.845c7.261,0,13.32,0.995,18.183,2.997c4.857,1.996,8.768,4.482,11.738,7.441 c2.964,2.97,5.091,6.168,6.369,9.584c1.273,3.432,1.915,6.636,1.915,9.595c0,4.901-0.642,8.947-1.915,12.118 c-1.278,3.171-2.866,5.88-4.759,8.131c-1.898,2.252-3.987,4.172-6.293,5.755c-2.295,1.588-4.471,3.171-6.516,4.759 c-2.045,1.583-3.862,3.394-5.445,5.439c-1.588,2.04-2.589,4.601-2.991,7.664v5.831H140.6v-6.908 c0.305-4.395,1.153-8.072,2.529-11.036c1.382-2.964,2.991-5.499,4.83-7.598c1.844-2.089,3.786-3.911,5.836-5.445 c2.04-1.539,3.927-3.073,5.673-4.591c1.73-1.545,3.144-3.225,4.221-5.069c1.071-1.833,1.556-4.15,1.452-6.908 c0-4.705-1.148-8.18-3.454-10.427c-2.295-2.257-5.493-3.378-9.589-3.378c-2.758,0-5.134,0.533-7.131,1.605 s-3.628,2.513-4.911,4.302c-1.278,1.795-2.225,3.894-2.834,6.288c-0.615,2.415-0.919,4.982-0.919,7.756h-22.55 C113.85,127.785,114.791,122.732,116.586,118.12z M162.536,183.938v23.616h-24.09v-23.616H162.536z"></path>
                        </g>
                    </svg>

                    <!-- Tooltip content -->
                    <div class="absolute left-0 mt-1 w-96 p-2 bg-gray-800 text-gray-300 text-sm rounded-lg shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-200 z-10">
                        <p>
                            <strong>ID:</strong> @Worker.WorkerId
                        </p>
                        <p>
                            <strong>Sidst opdateret:</strong> @Worker.Worker.Timestamp.ToLocalTime().ToString("dd.MM.yyyy HH:mm:ss")
                        </p>
                    </div>
                </span>
            </div>
            <div class="text-gray-400">Description: @Worker.Worker.Description</div>

            <!-- Worker Status Grid -->
            <div class="grid grid-cols-2 gap-x-4 mt-2 w-1/2">
                <div class="text-gray-400">Is Running:</div>
                <div class="font-bold @(Worker.Worker.IsEnabled ? Worker.Worker.State != WorkerState.Running ? "text-red-500" : "text-green-500" : "text-gray-400")">
                    @(Worker.Worker.State)
                </div>

                <div class="text-gray-400">Worker Enabled:</div>
                <div class="font-bold @(Worker.Worker.IsEnabled ? "text-green-500" : "text-red-500")">
                    @(Worker.Worker.IsEnabled ? "Yes" : "No")
                </div>

                <div class="text-gray-400">Watchdog Enabled:</div>
                <div class="font-bold @(Worker.Worker.ImgWatchdogEnabled ? "text-green-500" : "text-red-500")">
                    @(Worker.Worker.ImgWatchdogEnabled ? "Yes" : "No")
                </div>

                <div class="text-gray-400">Watchdog Event Count:</div>
                <div class="font-bold @(Worker.Worker.WatchdogEventCount > 0 ? "text-red-500" : "text-green-500")">
                    @Worker.Worker.WatchdogEventCount
                </div>
            </div>
        </div>

        <!-- Worker Image container placeret til højre -->
        <div class="flex-none">
            <div class="relative w-[300px] h-[168.75px] overflow-hidden rounded">
                <WorkerImageComponent @key="@($"WorkerImageComponent-{EngineId}-{Worker.WorkerId}")" Worker="@Worker" EngineId="@EngineId"/>
            </div>
        </div>
    </div>

    <!-- TabPanel placeret i bunden og fylder hele bredden -->
    <div class="mt-4">
        <TabPanelComponent @key="@($"WorkerTabpanelComponent-{EngineId}-{Worker.WorkerId}")" EngineId="@EngineId" Worker="Worker"/>
    </div>
</div>


@code {
    [Parameter] public Guid EngineId { get; set; }
    [Parameter] public required WorkerViewModel Worker { get; init; }

    protected override Task OnInitializedAsync()
    {
        var workerEventTopic = $"WorkerChangeEvent-{EngineId}-{Worker.WorkerId}";
        SignalRService.HubConnection.On<WorkerChangeEvent>(workerEventTopic, async _ => { await InvokeAsync(StateHasChanged); });
        return Task.CompletedTask;
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
    }

}