@using Common.DTOs
@using Microsoft.AspNetCore.SignalR.Client
@using StreamHub.Models
@using StreamHub.Services
@inject EngineManager EngineManager
@inject WorkerService WorkerService
@inject BlazorSignalRService SignalRService
<div class="worker-card bg-gray-900 rounded-lg overflow-hidden shadow-lg mb-3 p-2">
    <!-- Flex container til info og image -->
    <div class="flex justify-between">
        <!-- Worker Info -->
        <div class="flex-1 pr-4">
            <div class="font-bold text-lg">@Worker.Worker.Name</div>
            <div class="text-gray-400">Description: @Worker.Worker.Description</div>
            <div class="text-gray-400">ID: @Worker.WorkerId</div>
            <div>
                IsRunning:
                <span class="font-bold @(Worker.Worker.IsEnabled ? (Worker.Worker.State != WorkerState.Running ? "text-red-500" : "text-green-500") : "text-gray-400")">
                    @(Worker.Worker.State)
                </span>
            </div>
            <div>
                IsEnabled:
                <span class="font-bold @(Worker.Worker.IsEnabled ? "text-green-500" : "text-red-500")">
                    @(Worker.Worker.IsEnabled ? "Yes" : "No")
                </span>
            </div>
            <div>
                WatchdogEventCount:
                <span class="font-bold @(Worker.Worker.WatchdogEventCount > 0 ? "text-red-500" : "text-green-500")">
                    @Worker.Worker.WatchdogEventCount
                </span>
            </div>

            <div class="text-gray-400">Last Updated: @Worker.Worker.Timestamp</div>
        </div>

        <!-- Worker Image container placeret til højre -->
        <div class="flex-none">
            <div class="relative w-[300px] h-[168.75px] overflow-hidden rounded">
                <WorkerImageComponent @key="@($"WorkerImageComponent-{EngineId}-{Worker.WorkerId}")" WorkerId="@Worker.WorkerId" EngineId="@EngineId" InitialImageData="@Worker.LastImage"/>
            </div>
        </div>
    </div>

    <!-- TabPanel placeret i bunden og fylder hele bredden -->
    <div class="mt-4">
        <TabPanelComponent @key="@($"WorkerTabpanelComponent-{EngineId}-{Worker.WorkerId}")" EngineId="@EngineId" Worker="Worker"/>
    </div>
</div>

@code {
    [Parameter] public Guid EngineId { get; set; }
    [Parameter] public required WorkerViewModel Worker { get; init; }

    protected override Task OnInitializedAsync()
    {
        string workerEventTopic = $"WorkerEvent-{EngineId}-{Worker.WorkerId}";
        SignalRService.HubConnection.On<WorkerEvent>(workerEventTopic, async (_) => { await InvokeAsync(StateHasChanged); });
        return Task.CompletedTask;
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
    }

}